.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.941895;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.346191;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.364258;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.432129;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.941406;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.776855;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls1{letter-spacing:-0.236800px;}
.ls0{letter-spacing:0.000000px;}
.ls3{letter-spacing:0.072000px;}
.ls4{letter-spacing:0.096000px;}
.ls2{letter-spacing:0.144000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{margin-left:-1.104000px;}
._1{width:1.124000px;}
.fc5{color:rgb(33,33,33);}
.fc0{color:rgb(0,0,0);}
.fc1{color:rgb(0,0,255);}
.fc2{color:rgb(153,153,153);}
.fc4{color:rgb(0,120,215);}
.fc3{color:rgb(51,51,51);}
.fs2{font-size:1.920000px;}
.fs5{font-size:30.240000px;}
.fs6{font-size:36.000000px;}
.fs4{font-size:39.840000px;}
.fs7{font-size:42.240000px;}
.fs0{font-size:44.160000px;}
.fs1{font-size:48.000000px;}
.fs3{font-size:96.000000px;}
.y1{bottom:0.000000px;}
.y12{bottom:0.120000px;}
.y3a{bottom:0.240000px;}
.y33{bottom:0.360000px;}
.y35{bottom:0.480000px;}
.y54{bottom:1.920000px;}
.y5a{bottom:2.040000px;}
.y38{bottom:2.160000px;}
.y51{bottom:2.520000px;}
.y3f{bottom:2.760000px;}
.y4f{bottom:3.240000px;}
.y3c{bottom:4.800000px;}
.y53{bottom:5.160000px;}
.y16{bottom:6.360000px;}
.y2b{bottom:6.480000px;}
.y26{bottom:7.200000px;}
.y19{bottom:7.320000px;}
.y13{bottom:7.440000px;}
.y2d{bottom:7.680000px;}
.y56{bottom:8.040000px;}
.y29{bottom:9.720000px;}
.y30{bottom:9.960000px;}
.y58{bottom:10.436000px;}
.y45{bottom:11.280000px;}
.y21{bottom:11.760000px;}
.y11{bottom:11.880000px;}
.y59{bottom:12.356000px;}
.y43{bottom:13.080000px;}
.y4d{bottom:14.040000px;}
.y44{bottom:15.480000px;}
.y14{bottom:15.840000px;}
.y3e{bottom:15.960000px;}
.y25{bottom:17.400000px;}
.y18{bottom:17.520000px;}
.y2f{bottom:21.480000px;}
.y31{bottom:21.840000px;}
.y20{bottom:22.080000px;}
.y4c{bottom:24.360000px;}
.y49{bottom:26.760000px;}
.y1f{bottom:32.400000px;}
.y2e{bottom:32.880000px;}
.y4b{bottom:34.680000px;}
.y23{bottom:36.720000px;}
.y1e{bottom:42.720000px;}
.y4a{bottom:45.030000px;}
.y22{bottom:49.440000px;}
.y1d{bottom:53.160000px;}
.y1c{bottom:63.480000px;}
.y1b{bottom:73.680000px;}
.y5b{bottom:79.944000px;}
.y57{bottom:90.264000px;}
.y0{bottom:90.500000px;}
.y55{bottom:111.020000px;}
.y52{bottom:127.100000px;}
.y50{bottom:137.420000px;}
.y4e{bottom:142.460000px;}
.y48{bottom:168.140000px;}
.y47{bottom:221.570000px;}
.y46{bottom:234.410000px;}
.y42{bottom:235.010000px;}
.y41{bottom:265.970000px;}
.y40{bottom:266.570000px;}
.y3d{bottom:276.170000px;}
.y3b{bottom:300.290000px;}
.y39{bottom:309.890000px;}
.y37{bottom:310.130000px;}
.y36{bottom:314.450000px;}
.y34{bottom:315.170000px;}
.y32{bottom:316.010000px;}
.y2c{bottom:316.850000px;}
.y2a{bottom:367.010000px;}
.y28{bottom:387.190000px;}
.y27{bottom:406.510000px;}
.y1a{bottom:406.750000px;}
.y24{bottom:437.110000px;}
.y17{bottom:467.350000px;}
.y15{bottom:497.230000px;}
.y10{bottom:509.950000px;}
.yf{bottom:544.630000px;}
.ye{bottom:557.980000px;}
.yd{bottom:572.980000px;}
.yc{bottom:586.420000px;}
.yb{bottom:599.860000px;}
.ya{bottom:613.300000px;}
.y9{bottom:626.740000px;}
.y8{bottom:640.180000px;}
.y7{bottom:653.500000px;}
.y6{bottom:666.940000px;}
.y5{bottom:680.380000px;}
.y4{bottom:693.820000px;}
.y3{bottom:707.260000px;}
.y2{bottom:717.600000px;}
.h1a{height:0.599980px;}
.h15{height:0.720000px;}
.h14{height:0.840000px;}
.h27{height:1.469063px;}
.h5{height:1.995938px;}
.h16{height:4.320000px;}
.h22{height:5.040000px;}
.h18{height:9.600000px;}
.h23{height:10.320000px;}
.h7{height:12.720000px;}
.h1f{height:12.840000px;}
.h24{height:16.080000px;}
.hf{height:19.320000px;}
.h10{height:20.064000px;}
.h25{height:20.760000px;}
.h19{height:24.120000px;}
.h21{height:25.680000px;}
.hd{height:29.520000px;}
.h9{height:29.640000px;}
.h1b{height:30.960000px;}
.h3{height:31.560000px;}
.h1c{height:31.923281px;}
.h2{height:33.723750px;}
.ha{height:37.423828px;}
.h13{height:38.003906px;}
.h8{height:41.415703px;}
.h11{height:43.910625px;}
.h4{height:49.898438px;}
.h12{height:50.160000px;}
.hc{height:50.671875px;}
.h20{height:53.424000px;}
.h1d{height:75.480000px;}
.h17{height:77.304000px;}
.hb{height:90.240000px;}
.he{height:90.720000px;}
.h6{height:99.796875px;}
.h1e{height:262.820000px;}
.h26{height:451.250000px;}
.h1{height:666.500000px;}
.h0{height:792.000000px;}
.w15{width:0.720000px;}
.w11{width:64.104000px;}
.w10{width:76.080000px;}
.we{width:77.520000px;}
.w4{width:91.704000px;}
.wf{width:93.144000px;}
.w9{width:95.640000px;}
.w16{width:97.080000px;}
.wa{width:125.900000px;}
.wb{width:129.380000px;}
.w3{width:132.020000px;}
.w8{width:175.610000px;}
.w12{width:217.010000px;}
.w5{width:236.930000px;}
.w7{width:255.410000px;}
.wd{width:281.110000px;}
.w17{width:328.630000px;}
.w14{width:429.340000px;}
.w13{width:527.140000px;}
.wc{width:527.860000px;}
.w18{width:540.100000px;}
.w1{width:543.000000px;}
.w6{width:592.680000px;}
.w2{width:611.999991px;}
.w0{width:612.000000px;}
.x1{left:0.000009px;}
.x12{left:7.440000px;}
.x24{left:8.520000px;}
.x4{left:9.720000px;}
.xc{left:14.880000px;}
.x19{left:21.120000px;}
.x10{left:27.360000px;}
.x20{left:28.560000px;}
.x6{left:31.440000px;}
.x0{left:34.500000px;}
.x3{left:35.999991px;}
.x16{left:38.280000px;}
.xb{left:42.360000px;}
.xf{left:56.640000px;}
.x17{left:58.220000px;}
.x28{left:62.310000px;}
.x1a{left:64.100000px;}
.x26{left:66.000000px;}
.x18{left:106.220000px;}
.x29{left:107.910000px;}
.x2a{left:128.310000px;}
.x25{left:130.230000px;}
.xa{left:132.020000px;}
.x5{left:141.740000px;}
.x8{left:155.540000px;}
.x23{left:164.310000px;}
.x11{left:168.380000px;}
.x7{left:233.450000px;}
.x22{left:296.210000px;}
.xd{left:297.890000px;}
.x27{left:305.930000px;}
.x13{left:323.230000px;}
.x1e{left:381.910000px;}
.x14{left:400.750000px;}
.x1b{left:434.020000px;}
.x1c{left:467.980000px;}
.x9{left:470.380000px;}
.x1f{left:471.460000px;}
.xe{left:473.860000px;}
.x15{left:493.900000px;}
.x21{left:519.580000px;}
.x1d{left:527.140000px;}
.x2{left:576.099991px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls1{letter-spacing:-0.315733pt;}
.ls0{letter-spacing:0.000000pt;}
.ls3{letter-spacing:0.096000pt;}
.ls4{letter-spacing:0.128000pt;}
.ls2{letter-spacing:0.192000pt;}
.ws0{word-spacing:0.000000pt;}
._0{margin-left:-1.472000pt;}
._1{width:1.498667pt;}
.fs2{font-size:2.560000pt;}
.fs5{font-size:40.320000pt;}
.fs6{font-size:48.000000pt;}
.fs4{font-size:53.120000pt;}
.fs7{font-size:56.320000pt;}
.fs0{font-size:58.880000pt;}
.fs1{font-size:64.000000pt;}
.fs3{font-size:128.000000pt;}
.y1{bottom:0.000000pt;}
.y12{bottom:0.160000pt;}
.y3a{bottom:0.320000pt;}
.y33{bottom:0.480000pt;}
.y35{bottom:0.640000pt;}
.y54{bottom:2.560000pt;}
.y5a{bottom:2.720000pt;}
.y38{bottom:2.880000pt;}
.y51{bottom:3.360000pt;}
.y3f{bottom:3.680000pt;}
.y4f{bottom:4.320000pt;}
.y3c{bottom:6.400000pt;}
.y53{bottom:6.880000pt;}
.y16{bottom:8.480000pt;}
.y2b{bottom:8.640000pt;}
.y26{bottom:9.600000pt;}
.y19{bottom:9.760000pt;}
.y13{bottom:9.920000pt;}
.y2d{bottom:10.240000pt;}
.y56{bottom:10.720000pt;}
.y29{bottom:12.960000pt;}
.y30{bottom:13.280000pt;}
.y58{bottom:13.914667pt;}
.y45{bottom:15.040000pt;}
.y21{bottom:15.680000pt;}
.y11{bottom:15.840000pt;}
.y59{bottom:16.474667pt;}
.y43{bottom:17.440000pt;}
.y4d{bottom:18.720000pt;}
.y44{bottom:20.640000pt;}
.y14{bottom:21.120000pt;}
.y3e{bottom:21.280000pt;}
.y25{bottom:23.200000pt;}
.y18{bottom:23.360000pt;}
.y2f{bottom:28.640000pt;}
.y31{bottom:29.120000pt;}
.y20{bottom:29.440000pt;}
.y4c{bottom:32.480000pt;}
.y49{bottom:35.680000pt;}
.y1f{bottom:43.200000pt;}
.y2e{bottom:43.840000pt;}
.y4b{bottom:46.240000pt;}
.y23{bottom:48.960000pt;}
.y1e{bottom:56.960000pt;}
.y4a{bottom:60.040000pt;}
.y22{bottom:65.920000pt;}
.y1d{bottom:70.880000pt;}
.y1c{bottom:84.640000pt;}
.y1b{bottom:98.240000pt;}
.y5b{bottom:106.592000pt;}
.y57{bottom:120.352000pt;}
.y0{bottom:120.666667pt;}
.y55{bottom:148.026667pt;}
.y52{bottom:169.466667pt;}
.y50{bottom:183.226667pt;}
.y4e{bottom:189.946667pt;}
.y48{bottom:224.186667pt;}
.y47{bottom:295.426667pt;}
.y46{bottom:312.546667pt;}
.y42{bottom:313.346667pt;}
.y41{bottom:354.626667pt;}
.y40{bottom:355.426667pt;}
.y3d{bottom:368.226667pt;}
.y3b{bottom:400.386667pt;}
.y39{bottom:413.186667pt;}
.y37{bottom:413.506667pt;}
.y36{bottom:419.266667pt;}
.y34{bottom:420.226667pt;}
.y32{bottom:421.346667pt;}
.y2c{bottom:422.466667pt;}
.y2a{bottom:489.346667pt;}
.y28{bottom:516.253333pt;}
.y27{bottom:542.013333pt;}
.y1a{bottom:542.333333pt;}
.y24{bottom:582.813333pt;}
.y17{bottom:623.133333pt;}
.y15{bottom:662.973333pt;}
.y10{bottom:679.933333pt;}
.yf{bottom:726.173333pt;}
.ye{bottom:743.973333pt;}
.yd{bottom:763.973333pt;}
.yc{bottom:781.893333pt;}
.yb{bottom:799.813333pt;}
.ya{bottom:817.733333pt;}
.y9{bottom:835.653333pt;}
.y8{bottom:853.573333pt;}
.y7{bottom:871.333333pt;}
.y6{bottom:889.253333pt;}
.y5{bottom:907.173333pt;}
.y4{bottom:925.093333pt;}
.y3{bottom:943.013333pt;}
.y2{bottom:956.800000pt;}
.h1a{height:0.799973pt;}
.h15{height:0.960000pt;}
.h14{height:1.120000pt;}
.h27{height:1.958750pt;}
.h5{height:2.661250pt;}
.h16{height:5.760000pt;}
.h22{height:6.720000pt;}
.h18{height:12.800000pt;}
.h23{height:13.760000pt;}
.h7{height:16.960000pt;}
.h1f{height:17.120000pt;}
.h24{height:21.440000pt;}
.hf{height:25.760000pt;}
.h10{height:26.752000pt;}
.h25{height:27.680000pt;}
.h19{height:32.160000pt;}
.h21{height:34.240000pt;}
.hd{height:39.360000pt;}
.h9{height:39.520000pt;}
.h1b{height:41.280000pt;}
.h3{height:42.080000pt;}
.h1c{height:42.564375pt;}
.h2{height:44.965000pt;}
.ha{height:49.898438pt;}
.h13{height:50.671875pt;}
.h8{height:55.220937pt;}
.h11{height:58.547500pt;}
.h4{height:66.531250pt;}
.h12{height:66.880000pt;}
.hc{height:67.562500pt;}
.h20{height:71.232000pt;}
.h1d{height:100.640000pt;}
.h17{height:103.072000pt;}
.hb{height:120.320000pt;}
.he{height:120.960000pt;}
.h6{height:133.062500pt;}
.h1e{height:350.426667pt;}
.h26{height:601.666667pt;}
.h1{height:888.666667pt;}
.h0{height:1056.000000pt;}
.w15{width:0.960000pt;}
.w11{width:85.472000pt;}
.w10{width:101.440000pt;}
.we{width:103.360000pt;}
.w4{width:122.272000pt;}
.wf{width:124.192000pt;}
.w9{width:127.520000pt;}
.w16{width:129.440000pt;}
.wa{width:167.866667pt;}
.wb{width:172.506667pt;}
.w3{width:176.026667pt;}
.w8{width:234.146667pt;}
.w12{width:289.346667pt;}
.w5{width:315.906667pt;}
.w7{width:340.546667pt;}
.wd{width:374.813333pt;}
.w17{width:438.173333pt;}
.w14{width:572.453333pt;}
.w13{width:702.853333pt;}
.wc{width:703.813333pt;}
.w18{width:720.133333pt;}
.w1{width:724.000000pt;}
.w6{width:790.240000pt;}
.w2{width:815.999988pt;}
.w0{width:816.000000pt;}
.x1{left:0.000012pt;}
.x12{left:9.920000pt;}
.x24{left:11.360000pt;}
.x4{left:12.960000pt;}
.xc{left:19.840000pt;}
.x19{left:28.160000pt;}
.x10{left:36.480000pt;}
.x20{left:38.080000pt;}
.x6{left:41.920000pt;}
.x0{left:46.000000pt;}
.x3{left:47.999988pt;}
.x16{left:51.040000pt;}
.xb{left:56.480000pt;}
.xf{left:75.520000pt;}
.x17{left:77.626667pt;}
.x28{left:83.080000pt;}
.x1a{left:85.466667pt;}
.x26{left:88.000000pt;}
.x18{left:141.626667pt;}
.x29{left:143.880000pt;}
.x2a{left:171.080000pt;}
.x25{left:173.640000pt;}
.xa{left:176.026667pt;}
.x5{left:188.986667pt;}
.x8{left:207.386667pt;}
.x23{left:219.080000pt;}
.x11{left:224.506667pt;}
.x7{left:311.266667pt;}
.x22{left:394.946667pt;}
.xd{left:397.186667pt;}
.x27{left:407.906667pt;}
.x13{left:430.973333pt;}
.x1e{left:509.213333pt;}
.x14{left:534.333333pt;}
.x1b{left:578.693333pt;}
.x1c{left:623.973333pt;}
.x9{left:627.173333pt;}
.x1f{left:628.613333pt;}
.xe{left:631.813333pt;}
.x15{left:658.533333pt;}
.x21{left:692.773333pt;}
.x1d{left:702.853333pt;}
.x2{left:768.133321pt;}
}
